@use '../styles/base.scss';
@import '../styles/partials/color-themes';

.game-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;

  &__info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    text-align: center;

    h1 {
      width: 100%;
      margin: 0 0 50px 0;
      text-align: center;
    }

    li{
      width:100%;
      margin: 0 0 40px 0;
      text-align: center;
      font-size:50px;
    }
  }

  &__divider {
    height: 2px;
    width: 100%;
    margin: 50px 0px;
    border-radius: 2px;
    @include themed() {
      background-color: t($btn-bg);
    }
  }

  &__guess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;

    &__input {
      width: 48%;

      input {
        height: 35px;
        width: 100%;
        padding: 2px;
        border-radius: 5px;
        border: none;
        box-shadow: base.$shadow;
        margin-bottom: 20px;
        margin-left: 10px;

        &:focus {
          outline: 1px solid base.$green;
          border-radius: 5px;
        }
      }
      &--section-w-500px {
        width: 450px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 48%;
      border-radius: 5px;
      background-color: #e53935;

      &__title {
        margin: {
          top: 0;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }
    }

  }

  @media screen and (min-width: 768px) {
    &__info {
      flex-direction: row;

      :nth-child(n) {
        flex: 1;
      }
    }
  }
}

.ttt{
  text-decoration: line-through;
}

.incorrect {
  position: relative;
}
.incorrect:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}